/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333;
  }
  
  ul.new {
    list-style-type: none;
    padding: 0;
  }
  
  li.new1 {
    margin-bottom: 12px;
    background-color: #ff0;
    padding: 30px; /* Added padding to the list items */
    border-radius: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"] {
    width: calc(100% - 16px); /* Adjusted width to accommodate padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4735e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4148c4;
  }
button:active {
    background-color: #4148d4;
  }

  
